{
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "crlf",
  "useTabs": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
