:root {
  background: #faf9f8;
  scroll-behavior: smooth;
}

a {
  /*color: black;*/
  /*display: block;*/
  text-decoration: none;
  /*font-weight: 600;*/
}

a:hover {
  /*color: black;*/
}

ul {
  margin: 0;
  padding: 0;
}