:root {
  background: #faf9f8;
  scroll-behavior: smooth;
}

a {
  /*color: black;*/
  /*display: block;*/
  text-decoration: none;
  /*font-weight: 600;*/
}

a:hover {
  /*color: black;*/
}

ul {
  margin: 0;
  padding: 0;
}

.ql-align-center img {
  display: inline !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#editor .ql-editor.ql-blank {
  height: 170px
}
