@font-face {
  font-family: 'pangea';
  src: url('@/assets/fonts/pangea/PangeaAfrikanTrial-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'pangea';
  src: url('@/assets/fonts/pangea/PangeaAfrikanTrial-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'pangea';
  src: url('@/assets/fonts/pangea/PangeaAfrikanTrial-Italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'pangea';
  src: url('@/assets/fonts/pangea/PangeaAfrikanTrial-Regular.woff') format('woff');
}